<!DOCTYPE html>
<html>
<head>
    <title>Create Active Customer</title>
    <link rel="stylesheet" type="text/css" href="/templates/styles.css" />
</head>
<body>
    <h1>Create Active Customer</h1>
    <form method="POST" action="/create_active_customer">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Create New Customer" name="create_account">
    </form>
</body>
</html>


