<!DOCTYPE html>
<html>
<head>
    <title>Connect to Bank</title>
    <link rel="stylesheet" href= "styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    

</head>
<body >

    


<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href="index.html" class="w3-bar-item w3-button">Merchant Recommender</a>
      <div class="w3-right w3-hide-small">
        <a href="https://www.google.com/" class="w3-bar-item w3-button">Log In</a>
      </div>
    </div>
</div>

    
<br><br>
<br><br>
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
        <img class="w3-image" src="/homePageImage.jpeg" alt="Shopping Image" width="1600" height="800">
        <div class="w3-padding-large w3-opacity">
          <h1 class="w3-xxlarge">Welcome to the Merchant Recommender</h1>
        </div>
    </header>

    
    <a href="/connect_to_bank" class = "button">Connect to Your Bank</a> 
    <br><br>

    <!--  "About"/overview of what the app does -->
    <p>Please log in so we can generate a dashboard and insights for you.</p>
        <p>
            <br>This app allows you to:
            <ul>
                <li>View your personalized dashboard</li>
                <li>Look at recurring subscriptions and payments</li>
                <li>Use AI to generate insights</li>
            </ul>
        </p>

</body>
</html>