<!DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        
        <!--    Main html page -->
        <h4>Congrats you made it to this page</h4>
        <br>
        <p>Please log into your bank account so we can generate a dashboard and insights for you.</p>
        <br>
        <p>
            Redirect yourself to any page below...
            <br>This app allows you to do:
            <ul>
                <li>View your personalized dashboard</li>
                <li>Look at recurring subscriptions and payments</li>
                <li>Use AI to generate insights</li>
            </ul>
        </p>


        
    </body>
</html>